@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scenter {
    @apply fixed top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2
  }

  .signshadow {
    box-shadow: 16px 16px 40px 0px #BBC3CE99,
      -16px -16px 40px 0px #FDFFFFCC;
  }

  [type='text'],
  input:where(:not([type])),
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply py-2 px-3 bg-lightblue border border-accentprimary placeholder:text-darkblue font-semibold placeholder:font-normal placeholder:text-sm rounded-lg active:ring-accentprimary outline-none
  }

  .checkmark {

    @apply border-2 ring-1 ring-accentprimary border-graybg rounded;
  }

  .glow {
    filter: drop-shadow(-10px -10px 20px #FFFFFF);
  }

  .prfwindow {
    width: calc(100% - 36px)
  }



  .myovelement {
    @apply bg-lightgraybg ml-5 rounded-lg relative px-5 pb-5 hover:bg-accentprimary/15 transition duration-300;
  }

  .mynumwindow {
    @apply absolute -left-5 -top-5 bg-lightgraybg w-20 aspect-[13/14] rounded-[30px] border border-textdark/50 flex items-center justify-center group-hover:w-[110px] group-hover:bg-accentprimary transition-all duration-300;
  }


  .jobtable {
    display: grid;
    grid-template-columns: 250px repeat(6, 1fr);
  }
  
  .onboardtable {
    display: grid;
    grid-template-columns: 250px repeat(5, 1fr) 50px;
    
  }
  .candtable {
    display: grid;
    grid-template-columns: 275px repeat(4, 1fr);
    
  }

  @keyframes fadein {
    from {
      @apply bg-graybg
    }
    to {
      @apply bg-transparent hidden
    }
  }
  @keyframes fadeout {
    from {
      @apply bg-transparent hidden
    }
    to {
      @apply bg-graybg
    }
  }

  .fadein {
    @apply absolute w-full h-full z-20;

    animation: fadein 1s ease;
    animation-fill-mode: forwards;
  }
  .fadeout {
    @apply absolute w-full h-full z-20;

    animation: fadeout 1s ease;
    animation-fill-mode: forwards;
  }

  @keyframes slidein {
    from {
      /* @apply translate-y-[800px]; */
      transform: translateY(800px)
    }
    to {
      /* @apply translate-y-0; */
      transform: translateY(0)
    }
  }
  @keyframes slideout {
    from {
      /* @apply translate-y-0; */
      transform: translateY(0)
    }
    to {
      /* @apply translate-y-[800px]; */
      transform: translateY(800px)
    }

  }

  .slidein {
    animation: slidein .7s ease;
    animation-fill-mode: forwards;
  }
  .slideout {
    animation: slideout .7s ease;
    animation-fill-mode: forwards;
  }

}